# Symfony application's path (absolute or relative)
SYMFONY_APP_PATH=../

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=userpass

# Timezone
TIMEZONE=Europe/Rome

#Blackfire
BLACKFIRE_CLIENT_ID=
BLACKFIRE_CLIENT_TOKEN=
BLACKFIRE_SERVER_ID=
BLACKFIRE_SERVER_TOKEN=